.header{
    display: flex;
    height: 450px;
    justify-content: space-between;
    background-color: #EFEFF3;
    color: #000000b3;  

}

.text-container{ 
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-img{
    width: 40%;
    display: flex;
    justify-content: right;
}

.header-img img{
    height: 100%;
    object-fit: contain;
}

.discover-btn{
    background-color: #3F91C1;
    border: 2px solid #3F91C1;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Inria sans', sans-serif;
    color: white;
    padding: 14px 0;
    border-radius: 30px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    transition: 0.5s;
}

.discover-btn:hover{
    background-color: transparent;
    color: #3F91C1;
    border: 2px solid #3F91C1;
}